body {
  margin: 0;
  padding: 0;
  background-color: #FFF4D0 !important;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  width: 100%;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 0 0 400px;
  overflow: auto;
  margin: 1rem;
}

#generatedCode {
  height: 50%;
  background-color: rgb(247, 240, 228);
}

#output {
  height: 50%;
}

.blockly-wrapper {
  display: flex;
  flex: 5;
  height: 100%;
}

.gap16 {
  height: 16px;
}

.gap32 {
  height: 32px;
}

.gap64 {
  height: 64px;
}

.heading-badge {
  display: flex;
  color: white;
  padding: 0.5rem;
  border-radius: 16px;
  width: fit-content;
  padding: 0.5rem 2rem;
  align-items: center;
}

.heading {
  color: #47A600;
  font-size: 64px;
  font-weight: bold;
  width: fit-content;
}
.task-heading{
  color: #db8000;;
  font-size: 30px;
  font-weight: bold;
  width: fit-content;
}

.center {
  /* Center the div in the screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading-wrapper{
  display: flex;
  align-items: start !important;
}

.activity-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80vw;
}

.back-button {
  color: #616161;
  background-color: transparent;
  border: solid 6px #616161;
  border-radius: 8px;
  height: 54px;
  width: 54px;
  transition: 0.3s;
  margin-right: 32px;
}

.back-button:hover {
  background-color: #ffdba6;
}


.content-wrapper {
  display: flex;
  height: 80vh;
}

.instructions-wrapper {
  flex: 3;
  display: grid;
  height: 100%;
  margin-left: 32px;
}

.activity-image {
  height: 200px;
  width: 400px;
  border-radius: 16px;
}

.task-image{
  height: 100px;
  width: 100px;
  border-radius: 16px;
}

.task-container {
  display: flex;
  align-items: center; /* Vertically aligns items */
  gap:1rem;
}

.instructions {
  font-size: 16px;
}

.instructions-container{
  overflow-y: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 1rem;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #cecece;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #505050; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap:1rem;
}

.hint-button {
  display: flex;

}

.button-wrapper button p {
  margin: 0;
  margin-right: 20px;
}

.button-wrapper button {
  display: flex;
  align-items: center;
  border: none;
  height: 40px;
  border-radius: 12px;
  color: white;
  font-size: 15px;
  transition: 0.3s;
  padding: 2rem;
  text-align: left;
  font-weight: bold;
}

.button-icon{
  font-size: 20px !important;
}

.button-wrapper button:hover {
  filter: brightness(1.2);
}

.hint-button {
  background-color: #1254A9;
}

.test-button {
  background-color: #FF9600;
}

.submit-button {
  background-color: #47A600;

}